<head>


</head>
<style>
.element {
  z-index: 1;
}
</style>
   <body>
   <!--
    Drafted by: Micah Noorthoek
    flash color criteria v.2
    
    danger: when something occurs that prevents normal operation. Or critical messages related to user validation
    warning: When something does not prevent normal operation but should be checked up on or investigated
    success: When a requested action completes succesfully
    info: Unimportant messages
    notice: Default 
   -->
<turbo-frame id="flash">
   <% flash.each do |name, msg| %>

    <% next if msg.in?(["Shipments are currently being done. Please wait until complete."]) && !current_user.undo_shipments_lock? %>
  
    <% flash_type = case name.to_sym
        when :danger then "alert-danger"
        when :warning then "alert-warning"
        when :success then "alert-success"
        when :info then "alert-primary"
        else "alert-warning"
      end
    %>
  
    <div id="error-message" class="element alert <%= flash_type %> d-flex align-items-center alert-dismissible fade show" role="alert">
<svg xmlns="http://www.w3.org/2000/svg"
     class="bi flex-shrink-0 me-2"
     width="20" height="20"
     viewBox="0 0 16 16"
     fill="currentColor"
     aria-hidden="true"
     focusable="false"
     role="img">
  <% case name.to_sym %>
    <% when :danger %>
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    <% when :warning %>
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    <% when :success %>
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    <% when :info %>
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  <% end %>
</svg>

  
      <div>
        <p id="<%= name %>-msg-p"><%= msg %></p>
        <p style="margin-bottom: 3px;" class="time-format-flash"><%= Time.current.strftime("%m-%d-%Y %I:%M:%S %p") %></p>
        <div class="flash-progress-bar">
          <div class="progress-fill"></div>
          </div>
      </div>
  
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  
  
     
  </turbo-frame>
</body>


