<li class="nav-item">
  <a class="nav-link navcolor" id=<%="#{error_table}-tab"%> data-toggle="tab" href=<%="##{error_table}"%> role="tab" aria-controls="pac" aria-selected="false">
  <%="#{error_title}"%><%="(#{error_count})"%></a>
</li>
