<div class="card" style="width:100%; margin-top:20px;">
  <table class="data-table" style="width:100%;" cellpadding="0" cellspacing="0" style = "border:none;">
    <thead>
    <tr>
      <th class ="wms-table-header" width="auto;" style= "border:none !important; font-size: 14.28px;">Product</th>
      <th class ="wms-table-header" width="auto;" style= "border:none !important; font-size: 14.28px;">Discrepancy Quantity</th>
      <th class ="wms-table-header" width="auto;" style= "border:none !important; font-size: 14.28px;">Balance Date</th>
    </tr>
    </thead>
  <tbody>
<% if @discrepancies.any? %>
    <% @discrepancies.each_with_index do |f, i| %>
      <tr class='text-style'>
        <td style = "border:none;"><%= f.itemnumber %></td>
        <td style = "border:none;"><%= f.discrepancyquantity%></td>
        <td style = "border:none;"><%= f.balancedate.strftime('%Y-%m-%d %H:%M:%S') %></td>
      </tr>
      <% end %>

  <% else %>
  <tr class='text-style'>
    <td style = "border:none; font-style: italic;" colspan="3">No reported balances to display at this time</td>
  </tr>
  <% end %>

  </tbody>
  </table>
</div>
