<div class="card" style="width:100%; margin-top:20px;">
  <!-- table main table content -->
  <div>
    <table class="data-table" cellpadding="0" cellspacing="0" style = "border:none !important;">
      <thead>
        <tr>
          <th class="wms-table-header space" style="width:600px;">Entry Number</th>
          <th class="wms-table-header space" style="width:600px;">Entry Date</th>
          <th class="wms-table-header space" style="width:600px;">Total Qty On Hand</th>
          <th class="wms-table-header space" style="width:600px;">Reported Status</th>
          <th class="wms-table-header space" style="width:600px;">Closed Reported Date</th>
        </tr>
      </thead>
    <tbody>

  <% if @warehousereceiptheaders.any? %>
    <%  @warehousereceiptheaders.each do |f| %>
    <tr style = "border:none;">
      <td class="rowspace" style = "border: none !important;"><%= f.receiptentrynumber %></td>
      <td class="rowspace" style = "border: none !important;"><%= f.entrydate.strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td class="rowspace" style = "border: none !important;"><%= f.quantityonhand %></td>
      <% if f.closedreporteddate.present? %>
        <td class="rowspace" style = "border: none !important;">REPORTED</td>
      <% else %>
        <td class="rowspace" style = "border: none !important;">NOT REPORTED</td>
      <% end %>
      <td class="rowspace" style = "border: none !important;"><%= f.closedreporteddate.strftime('%Y-%m-%d %H:%M:%S') %></td>
    </tr>
    <% end %>

    <% else %>
    <tr class='text-style'>
      <td style = "border:none; font-style: italic;" colspan="3">No reported balances to display at this time</td>
    </tr>
    <% end %>

    </tbody>
    </table>
    </div>
  <!-- End table main table content -->
</div>
