<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>

      <div class="page-content inset">
        <div class="d-flex p-2">
          <div class ="ftztable">
            <div class = "container">
                <h6 class = "pghead">System Archives</h6>

                <br>
                <%= render 'tabs' %>

            </div><!-- container -->
          </div><!-- end ftztable -->
      </div><!-- end flex -->
    </div><!-- end inset -->

</body>
